<% @user ||= current_user %>
<div>
	<a href="<%= following_user_path(@user) %>">
		<strong><%= @user.followed_users.count %></strong>
		following
	</a>&nbsp;
	<a href="<%= following_user_path(@user) %>">
		<strong><%= @user.followers.count %></strong>
		followers
	</a>
</div>