<head>Welcome User</head>
<% if user_signed_in? %>
<% provide(:title, "| #{current_user.username}") %>
	<section>
		<%= render 'partials/user_info' %>
	</section>
	<section>
		<%= render 'partials/stats' %>
	</section>
<% end %>